<!DOCTYPE html>
<html     xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../../static/css/bulma.css" th:href="@{css/bulma.css}">
    <link rel="stylesheet" type="text/css" href="../../../static/css/prajuda.css" th:href="@{css/prajuda.css}">
</head>
<body>
<div th:fragment="aside_menu_admin">
    <aside class="menu">
        <h1>Admin</h1>
        <p class="menu-label">
            Harvest
        </p>
        <ul class="menu-list">
            <li><a href="#" th:href="@{harvest_request}">List</a></li>
            <li><a href="#" th:href="@{harvest_request/new}">Create</a></li>
        </ul>
        <p class="menu-label">
            Harvesters
        </p>
        <ul class="menu-list">
            <li><a>List</a></li>
            <li><a>Test</a></li>
        </ul>
    </aside>
</div>
</body>
</html>