<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="../static/images/logo/prajuda_icon.ico" th:href="@{/images/prajuda_icon.ico}">
    <meta name="keywords" content="prajuda" th:content="#{keywords}">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/bulma.css" th:href="@{/css/bulma.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/prajuda.css" th:href="@{/css/prajuda.css}">

    <title th:text="'XUXU -> ' + ${layout_title}">Prajuda - Path</title>
</head>
<body>
<nav id="main_nav" class="navbar has-shadow">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="" th:href="@{/}">
                <img id="prajuda_logo" th:src="@{/images/logo/prajuda_min.png}" src="../static/images/logo/prajuda_min.png"
                     alt="Prajuda logo">
                <p>Prajuda</p>
            </a>
            <div id="navbar_burger" class="navbar-burger burger" data-target="navMenuMore">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="navbar-menu" id="navMenuMore">
            <div class="navbar-start">
                <a class="navbar-item" href="home.html" th:href="@{/home.html}">
                    <!--<span class="icon has-text-primary">-->
                    <!--&lt;!&ndash;<img src="../static/images/"&ndash;&gt;-->
                    <!--</span>-->
                    <span>Home</span>
                </a>

                <a class="navbar-item" href="service.html" th:href="@{/service}">
                    <span>Services</span>
                </a>


                <a class="navbar-item" href="admin.html" th:href="@{/admin}">
                    <span>Admin</span>
                </a>

                <a class="navbar-item" href="contact.html" th:href="@{/contact.html}">
                    <span>Contact</span>
                </a>
            </div>
            <div class="navbar-end">
                <!-- <label class="label" for="input-search-box">Search:</label> -->
                <form class="navbar-item">
                    <!-- <div class="search-box search-box"> -->
                    <input class="input is-primary" id="search-box" placeholder="search"
                           aria-label="Search" autocomplete="off"
                           spellcheck="false" value="">
                </form>
                <!-- </div> -->
            </div>
        </div>
    </div>
</nav>
<main class="container">
    <!--<div class="is-hidden-mobile is-12">-->
        <!--<nav id="breadcrumb" class="breadcrumb column is-hidden-mobile" aria-label="breadcrumbs">-->
            <!--<ul>-->
                <!--<li><a href="#">Prajuda</a></li>-->
                <!--<li><a href="#">Service #01</a></li>-->
                <!--<li><a href="#">User Case AB</a></li>-->
                <!--<li class="is-active"><a href="#" aria-current="page">Function</a></li>-->
            <!--</ul>-->
        <!--</nav>-->
    <!--</div>-->
    <section th:replace="${layout_page} :: layout_main_content">
        <div class="container is-centered is-gap-2">
            <div class="columns is-multiline">
                <div class="column is-narrow is-4">
                    <article class="message is-black">
                        <div class="message-header">
                            <p>Season 1</p>
                        </div>
                        <div class="message-body">
                            <div class="board-item">
                                <div class="board-item-content"><span>The Fort</span></div>
                            </div>
                            <div class="board-item">
                                <div class="board-item-content"><span>Fist Like a bullet</span></div>
                            </div>
                            <div class="board-item">
                                <div class="board-item-content"><span>White Stork Spreads Wings</span></div>
                            </div>
                            <div class="board-item">
                                <div class="board-item-content"><span>Two Tigers Subdue Dragons</span></div>
                            </div>
                            <div class="board-item">
                                <div class="board-item-content"><span>Snake Creeps Down</span></div>
                            </div>
                            <div class="board-item">
                                <div class="board-item-content"><span>Hand of Five Poisons</span></div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="column is-narrow is-4">
                    <article class="message is-primary">
                        <div class="message-header">
                            <p>Season 2</p>
                        </div>
                        <div class="message-body">
                            <div class="board-item">
                                <div class="board-item-content"><span>Tiger Pushes Mountain</span></div>
                            </div>
                            <div class="board-item">
                                <div class="board-item-content"><span>Force of Eagle's Claw</span></div>
                            </div>
                            <div class="board-item">
                                <div class="board-item-content"><span>Red Sun, Silver Moon</span></div>
                            </div>
                            <div class="board-item">
                                <div class="board-item-content"><span>Palm of the Iron Fox</span></div>
                            </div>
                            <div class="board-item">
                                <div class="board-item-content"><span>Monkey Leaps Through Mist</span></div>
                            </div>
                            <div class="board-item">
                                <div class="board-item-content"><span>Leopard Stalks in Snow</span></div>
                            </div>
                            <div class="board-item">
                                <div class="board-item-content"><span>Black Heart, White Mountain</span></div>
                            </div>
                            <div class="board-item">
                                <div class="board-item-content"><span>Sting of the Scorpion's Tail</span></div>
                            </div>
                            <div class="board-item">
                                <div class="board-item-content"><span>Nightingale Sings No More</span></div>
                            </div>
                            <div class="board-item">
                                <div class="board-item-content"><span>Wolf's Breath, Dragon Fire</span></div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="column is-narrow is-4">
                    <article class="message is-link">
                        <div class="message-header">
                            <p>Season 3</p>
                        </div>
                        <div class="message-body">
                            <div class="board-item">
                                <div class="board-item-content"><span>Enter the Phoenix</span></div>
                            </div>
                            <div class="board-item">
                                <div class="board-item-content"><span>Moon Rises, Raven Seeks</span></div>
                            </div>
                            <div class="board-item">
                                <div class="board-item-content"><span>Leopard Snares Rabbit</span></div>
                            </div>
                            <div class="board-item">
                                <div class="board-item-content"><span>Blind Cannibal Assassins</span></div>
                            </div>
                            <div class="board-item">
                                <div class="board-item-content"><span>Carry Tiger to Mountain</span></div>
                            </div>
                            <div class="board-item">
                                <div class="board-item-content"><span>Black Wind Howls</span></div>
                            </div>
                            <div class="board-item">
                                <div class="board-item-content"><span>Dragonfly's Last Dance</span></div>
                            </div>
                            <div class="board-item">
                                <div class="board-item-content"><span>Leopard Catches Cloud</span></div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="column is-narrow is-4">
                    <article class="message is-info">
                        <div class="message-header">
                            <p>Info</p>
                            <button class="delete" aria-label="delete"></button>
                        </div>
                        <div class="message-body">
                            <div class="board-item">
                                <div class="board-item-content"><span>Bronchy</span></div>
                            </div>
                            <div class="board-item">
                                <div class="board-item-content"><span>Aorta</span></div>
                            </div>
                            <div class="board-item">
                                <div class="board-item-content"><span>Alveolae</span></div>
                            </div>
                            <div class="board-item">
                                <div class="board-item-content"><span>TALISMAN</span></div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="column is-narrow is-4">
                    <article class="message is-success">
                        <div class="message-header">
                            <p>Success</p>
                            <button class="delete" aria-label="delete"></button>
                        </div>
                        <div class="message-body">
                            <div class="board-item">
                                <div class="board-item-content"><span>signature</span></div>
                            </div>
                            <div class="board-item">
                                <div class="board-item-content"><span>weasel</span></div>
                            </div>
                            <div class="board-item">
                                <div class="board-item-content"><span>solana</span></div>
                            </div>
                            <div class="board-item">
                                <div class="board-item-content"><span>hydro</span></div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="column is-narrow is-4">
                    <article class="message is-warning">
                        <div class="message-header">
                            <p>Warning</p>
                        </div>
                        <div class="message-body">
                            <div class="board-item">
                                <div class="board-item-content"><span>Ganimede</span></div>
                            </div>
                            <div class="board-item">
                                <div class="board-item-content"><span>Europa</span></div>
                            </div>
                            <div class="board-item">
                                <div class="board-item-content"><span>Tycho</span></div>
                            </div>
                            <div class="board-item">
                                <div class="board-item-content"><span>Io</span></div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
</main>
<footer class="footer">
    <div class="columns">
        <div id="footer_main" class="column">
            <ul>
                <li>a</li>
                <li>b</li>
            </ul>
        </div>
        <div id="footer_config" class="column">
            <ul>
                <li>a</li>
                <li>b</li>
            </ul>
        </div>
    </div>
</footer>
</body>

<script type="text/javascript" src="../static/js/lib/jquery.js" th:src="@{/js/lib/jquery.js}"></script>
<script type="text/javascript" src="../static/js/prajuda.js"   th:src="@{/js/prajuda.js}"></script>
<div th:replace="~{ ${layout_page} :: layout_script_js} ?: _"></div>
</html>