<html
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../../static/css/bulma.css" th:href="@{css/bulma.css}">
    <link rel="stylesheet" type="text/css" href="../../../static/css/prajuda.css" th:href="@{css/prajuda.css}">
</head>
<body>

<section th:fragment="layout_main_content">
    <form id="form" th:action="@{/service}" th:attr="data-redirect=@{/service/${id}.html}" th:object="${service}"  method="post" class="ajax-form container">
        <h1 class="title">Add Service</h1>
        <input type="hidden" id="service_id" th:field="*{id}" value="">
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label for="name" class="label">Name</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input id="name" class="input" th:field="*{name}" type="text" placeholder="name of service">
                    </div>
                    <p class="help ajax-form-error is-danger" data-error-for="name"></p>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label for="namePath" class="label">Prajuda Path</label>
            </div>
            <div class="field-body">
                <div class="field has-addons">
                    <div class="control is-expanded">
                        <input disabled id="namePath" class="input is-disabled" th:field="*{namePath}" type="text" placeholder="path used by prajuda to acess service's documents">
                    </div>
                    <div class="control">
                        <a alt="You can edit application path on prajuda or using path based on service name" id="namePath_change" class="button is-info">Edit</a>
                    </div>
                    <p class="help ajax-form-error is-danger" data-error-for="name"></p>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal"><label for="url" class="label">Url</label></div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input id="url" class="input" th:field="*{url}"  type="text" placeholder="Service's url">
                    </div>
                    <p class="help ajax-form-error is-danger" data-error-for="url"></p>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal"><label for="description" class="label">Description</label></div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <textarea id="description" maxlength="1000" class="textarea" th:field="*{description}" placeholder="This service is ..."></textarea>
                    </div>
                    <p class="help ajax-form-error is-danger" data-error-for="description"></p>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal"><label for="harvesterType" class="label">Harvester Type</label></div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <div class="select">
                            <select id="harvesterType" th:field="*{harvesterTypeId}" name="harvesterType">
                                <option th:each="ht: ${harvesterTypes}" th:value="${ht.id}"
                                        th:text="${ht.name}">Git (Classic)</option>
                                <option th:if="false" value="2"         >Git (Gitlab)</option>
                                <option th:if="false" value="3"         >Git (Github)</option>
                            </select>
                        </div>
                    </div>
                    <p class="help ajax-form-error is-danger" data-error-for="harvesterType"></p>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal"><label for="documentDir" class="label">Docs' dir</label></div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input id="documentDir" class="input" th:field="*{documentDir}" type="text" placeholder="ex. 'prajuda'">
                    </div>
                    <p class="help ajax-form-error is-danger" data-error-for="documentDir"></p>
                </div>
            </div>
        </div>
        <h2>Repository Info</h2>
        <div class="field is-horizontal">
            <div class="field-label is-normal"><label for="repositoryInfo.uri" class="label">URI</label></div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input id="repositoryInfo.uri" class="input" th:field="*{repositoryInfo.uri}" type="text" placeholder="https://gitlab.com/example/example.git">
                    </div>
                    <p class="help ajax-form-error is-danger" data-error-for="repositoryInfo.uri"></p>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal"><label for="repositoryInfo.branch" class="label">Branch</label></div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input id="repositoryInfo.branch" class="input" th:field="*{repositoryInfo.branch}" type="text" placeholder="master">
                    </div>
                    <p class="help ajax-form-error is-danger" data-error-for="repositoryInfo.branch"></p>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal"><label for="repositoryInfo.username" class="label">Username</label></div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input id="repositoryInfo.username" class="input" th:field="*{repositoryInfo.username}" type="text" placeholder="Username">
                    </div>
                    <p class="help ajax-form-error is-danger" data-error-for="repositoryInfo.username"></p>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal"><label for="repositoryInfo.password" class="label">Password</label></div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input id="repositoryInfo.password" class="input" th:field="*{repositoryInfo.password}" type="text" placeholder="password">
                    </div>
                    <p class="help ajax-form-error is-danger" data-error-for="repositoryInfo.password"></p>
                </div>
            </div>
        </div>
        <div class="field is-grouped is-grouped-centered">
            <div class="control">
                <input id="submit_btn" type="submit" class="button is-primary" value="Save">
            </div>
            <div class="control">
                <input type="button" class="button is-light return" value="Cancel">
            </div>
        </div>
    </form>
</section>
<!--<footer>-->
<!--<p layout:fragment="layout-foot">This is some footer content-->
<!--that you can change</p>-->
<!--</footer>-->
</body>

<script th:if="false"                   type="text/javascript" src="../../../static/js/lib/jquery.js"                   ></script>
<!--<script th:if="false"                   type="text/javascript" src="../../../static/js/admin_menu.html"                     ></script>-->
<div th:fragment="layout_script_js" th:remove="tag">
    <script type="text/javascript" src="../../../static/js/lib/jquery.serialize-object.js"      th:src="@{/js/lib/jquery.serialize-object.js}"></script>
    <script type="text/javascript" src="../../../static/js/form.js"                             th:src="@{/js/form.js}"></script>
    <script type="text/javascript" src="../../../static/js/service/service_new.js"              th:src="@{/js/service/service_new.js}"></script>
</div>
</html>