<html
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../../static/css/bulma.css" th:href="@{css/bulma.css}">
    <link rel="stylesheet" type="text/css" href="../../../static/css/prajuda.css" th:href="@{css/prajuda.css}">
</head>
<body>

<section th:fragment="layout_main_content">
    <h1 class="title">Services</h1>
    <table class="table is-bordered is-fullwidth is-striped">
        <thead>
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>Url</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="service: ${services}">
                <td> <a th:href="@{/service/{id}.html(id=${service.id})}" href="#" th:text="${service.id}">#XXX</a></td>
                <td> <a th:href="@{/service/{id}.html(id=${service.id})}" href="#" th:text="${service.name}">Service X</a></td>
                <td> <a th:href="@{/service/{id}.html(id=${service.id})}" href="#" th:text="${service.url}">https://gitlab.com/mvpcortes/prajuda</a></td>
            </tr>
        </tbody>
    </table>
    <div th:insert=" fragments/pagination :: pagination(${pagination}, 'service/index.html', ${pageRequest?.pageSize?:10})"></div>
</section>
<!--<footer>-->
<!--<p layout:fragment="layout-foot">This is some footer content-->
<!--that you can change</p>-->
<!--</footer>-->
</body>

<script type="text/javascript" src="../static/js/lib/jquery.js" th:src="@{js/lib/jquery.js}"></script>
<script type="text/javascript" src="../static/js/menu.js"   th:src="@{js/menu.js}"></script>
</html>