target
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea

*.iws
*.iml
*.ipr

### gradle ###
.gradle/**
prajuda-core/.gradle/**
prajuda-web/.gradle/**
prajuda-worker/.gradle/**
build
prajuda-core/build/**
prajuda-web/build/**
prajuda-worker/build/**
out/**
prajuda-core/out/**
prajuda-web/out/**
prajuda-worker/out/**

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/