#prajuda_logo{
    padding-right:0.5em;
}

main{
    padding: 1em 1em 1em 1em;
}

/**modal loading*/
.rotating-image {
    -webkit-animation: rotating-image-spin  2s infinite linear;
       -moz-animation: rotating-image-spin  2s infinite linear;
            animation: rotating-image-spin  2s infinite linear;
}

.box.is-center{
    text-align:center!important;
    overflow: hidden!important
}

@-moz-keyframes         rotating-image-spin { from {   -moz-transform: rotate(0deg)} to  {     -moz-transform: rotate(359deg); } }
@-webkit-keyframes      rotating-image-spin { from {-webkit-transform: rotate(0deg)} to  {  -webkit-transform: rotate(359deg); } }
@keyframes              rotating-image-spin { from {        transform: rotate(0deg)} to  {          transform: rotate(359deg); } }


/**form css*/
.ajax-form-error{
    display:hidden
}

/** span inside view (show) forms*/
.field-body  .control span {
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  /**border: 1px solid transparent;
  border-radius: 4px;*/
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.25em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
  position: relative;
  vertical-align: top;
}

/**
css for autocomplete
@see https://raw.githubusercontent.com/Pixabay/JavaScript-autoComplete/master/auto-complete.css
*/

.autocomplete-suggestions {
    text-align: left; cursor: default; border: 1px solid #ccc; border-top: 0; background: #fff; box-shadow: -1px 1px 3px rgba(0,0,0,.1);

    /* core styles should not be changed */
    position: absolute; display: none; z-index: 9999; max-height: 254px; overflow: hidden; overflow-y: auto; box-sizing: border-box;
}
.autocomplete-suggestion { position: relative; padding: 0 .6em; line-height: 23px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 1.02em; color: #333; }
.autocomplete-suggestion b { font-weight: normal; color: #1f8dd6; }
.autocomplete-suggestion.selected { background: #f0f0f0; }