<html
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../../static/css/bulma.css">
    <link rel="stylesheet" type="text/css" href="../../../static/css/prajuda.css">
</head>
<body>
<section th:fragment="layout_main_content">
    <div class="columns">
        <div class="column is-one-quarter">
            <div th:insert="fragments/admin/admin_menu :: aside_menu_admin "> </div>
        </div>
        <div class="column is-three-quarters">
            <h1 class="title">Harvest Requests</h1>
            <table class="table is-bordered is-fullwidth is-striped">
                <thead>
                <tr>
                    <th>id</th>
                    <th>type</th>
                    <th>status</th>
                    <th>started</th>
                    <th>completed</th>
                    <th>failed?</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="hr: ${harvest_requests}">
                    <td th:text="${hr.id}">xxx</td>
                    <td th:text="${hr.harvestType}">COMPLETE</td>
                    <td th:text="${hr.harvesterStatus}">PROCESSING</td>
                    <td th:text="${#temporals.format(hr.startedAt  , 'dd-MM-yyyy HH:mm:ss')}"></td>
                    <td th:text="${#temporals.format(hr.completedAt, 'dd-MM-yyyy HH:mm:ss')}"></td>
                    <td>
                        <span th:if="${hr.failed == null}">OK</span>
                        <span th:if="${hr.failed != null}">
                        <div class="failed_description" hidden th:text="${hr.failed}">
                            description
                        </div>
                        <a class="failed_link" href="#">FAILED</a>
                    </span>
                    </td>
                </tr>
                </tbody>
            </table>
            <div th:insert=" fragments/pagination :: pagination(${pagination}, 'service/index.html', ${pageRequest?.pageSize?:10})"></div>
        </div>
    </div>
</section>
</body>

<div th:fragment="layout_script_js" th:remove="tag">
    <script type="text/javascript" th:if="false" src="../../../static/js/lib/jquery.js"></script>
    <script type="text/javascript" src="../../../static/js/harvest_request/harvest_request_list.js"
            th:src="@{/js/harvest_request/harvest_request_list.js}"></script>
</div>
</html>