<html
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../../static/css/bulma.css">
    <link rel="stylesheet" type="text/css" href="../../../static/css/prajuda.css">
</head>
<body>
<section th:fragment="layout_main_content">
    <div class="columns">
        <div class="column is-one-quarter">
            <div th:insert="fragments/admin/admin_menu :: aside_menu_admin "> </div>
        </div>
        <div class="column is-three-quarters">
            <h1 class="title">Do a Harvest Request</h1>
            <form id="form" th:action="@{/harvest_request}" th:attr="data-redirect=@{/harvest_request}"
                  th:object="${harvestRequest}"
                  method="post" class="ajax-form container">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label for="harvestType" class="label">Type</label>
                    </div>
                    <div class="field-body">
                        <div class="field is-horizontal">
                            <div class="control">
                                <div class="select">
                                    <select id="harvestType" th:field="*{harvestType}" name="harvestType">
                                        <option th:each="ht: ${harvestTypes}"
                                                th:value="${ht}"
                                                value="COMPLETE"
                                                th:text="${ht}">COMPLETE</option>
                                        <option th:if="false" value="DIFF">DIFF</option>
                                    </select>
                                </div>
                            </div>
                            <p class="help ajax-form-error is-danger" data-error-for="harvestType"></p>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal"><label for="serviceSource" class="label">Service</label></div>
                    <div class="field-body">
                        <div class="field is-horizontal">
                            <div class="control">
                                <input id="serviceSource" name="serviceSource" class="input" type="text"
                                       placeholder="Service">
                                <input id="serviceSourceId" name="serviceSourceId" type="hidden"/>
                            </div>
                            <p class="help ajax-form-error is-danger" data-error-for="serviceSourceId"></p>
                        </div>
                    </div>
                </div>
                <div class="field is-grouped is-grouped-centered">
                    <div class="control">
                        <input id="submit_btn" type="submit" class="button is-primary" value="Do">
                    </div>
                    <div class="control">
                        <input type="button" class="button is-light return" value="Cancel">
                    </div>
                </div>
            </div>
                </div>
            </form>
        </div>
    </div>
</section>
</body>

<div th:fragment="layout_script_js" th:remove="tag">
        <script type="text/javascript" th:if="false" src="../../../static/js/lib/jquery.js"></script>
        <script type="text/javascript" src="../../../static/js/lib/autocomplete.js"
            th:src="@{/js/lib/autocomplete.js}"></script>
        <script type="text/javascript" src="../../../static/js/lib/jquery.serialize-object.js"
                th:src="@{/js/lib/jquery.serialize-object.js}"></script>
        <script type="text/javascript" src="../../../static/js/harvest_request/harvest_request_new.js"
            th:src="@{/js/harvest_request/harvest_request_new.js}"></script>
        <script type="text/javascript" src="../../../static/js/form.js"
                th:src="@{/js/form.js}"></script>
</div>
</html>