<html
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../../static/css/bulma.css" th:href="@{css/bulma.css}">
    <link rel="stylesheet" type="text/css" href="../../../static/css/prajuda.css" th:href="@{css/prajuda.css}">
</head>
<body>

<section th:fragment="layout_main_content" th:object="${service}">
    <div th:object="${service}" class="ajax-form container">
        <h1 class="title"> #<span th:text="*{id}">XXX</span> Service</h1>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label for="name" class="label">Name</label>
            </div>
            <div class="field-body">
                <div class="control">
                    <span id="name" th:text="*{name}">Service's name</span>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal"><label for="url" class="label">Url</label></div>
            <div class="field-body">
                <div class="control">
                    <span id="url" th:text="*{url}">Service's URL</span>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal"><label for="description" class="label">Description</label></div>
            <div class="field-body">
                <div class="control">
                    <!--<span id="description" th:text="*{description}">Description of service</span>-->
                    <textarea id="description" class="textarea" th:field="*{description}"
                              readonly>This service is...</textarea>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal"><label for="harvesterType" class="label">Harvester Type</label></div>
            <div class="field-body">
                <div class="control">
                    <span id="harvesterType" th:text="${mapHarvesterType.get(service.harvesterTypeId)?.name?:'n/a'}">Harvester Type</span>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal"><label for="documentDir" class="label">Docs' dir</label></div>
            <div class="field-body">
                <div class="control">
                    <span id="documentDir" th:text="*{documentDir}" >/Service/Document/Directory</span>
                </div>
            </div>
        </div>
        <div class="field is-grouped is-grouped-centered">
            <div class="control">
                <a id="edit_btn" class="button is-primary" th:href="@{'/service/'+*{id}+'/edit.html'}">Edit</a>
            </div>
            <div class="control">
                <a class="button is-light return">Return</a>
            </div>
        </div>
    </div>
</section>
</body>

<script type="text/javascript" src="../../../static/js/jquery.js" th:src="@{js/jquery.js}"></script>
<script type="text/javascript" src="../../../static/js/menu.js"   th:src="@{js/menu.js}"></script>
</html>