<html
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../../static/css/bulma.css" th:href="@{css/bulma.css}">
    <link rel="stylesheet" type="text/css" href="../../../static/css/document/document_show.css" th:href="@{css/document/document_show.css}">
    <link rel="stylesheet" type="text/css" href="../../../static/css/prajuda.css" th:href="@{css/prajuda.css}">
</head>
<body>

<div th:fragment="layout_main_content" th:remove="tag">
    <section class="section prajuda-document">
        <div th:attr="id='document_'+${document.id}" th:each="document: ${documents}" class="content">
            <span th:utext="${document.html}" th:remove="tag"><strong>html content</strong></span>
            <div th:if="${false}">
                <h1>Lorem ipsum dolor sit amet consectetuer adipiscing elit</h1>


                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing
                    elit. Aenean commodo ligula eget dolor. Aenean massa
                    <strong>strong</strong>. Cum sociis natoque penatibus
                    et magnis dis parturient montes, nascetur ridiculus
                    mus. Donec quam felis, ultricies nec, pellentesque
                    eu, pretium quis, sem. Nulla consequat massa quis
                    enim. Donec pede justo, fringilla vel, aliquet nec,
                    vulputate eget, arcu. In enim justo, rhoncus ut,
                    imperdiet a, venenatis vitae, justo. Nullam dictum
                    felis eu pede <a class="external ext" href="#">link</a>
                    mollis pretium. Integer tincidunt. Cras dapibus.
                    Vivamus elementum seellus. Phasellus
                    viverra nulla ut metus varius laoreet. Quisque rutrum.
                    Aenean imperdiet. Etiam ultricies nisi vel augue.
                    Curabitur ullamcorper ultricies nisi.</p>


                <h1>Lorem ipsum dolor sit amet consectetuer adipiscing
                    elit</h1>


                <h2>Aenean commodo ligula eget dolor aenean massa</h2>


                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing
                    elit. Aenean commodo ligula eget dolor. Aenean massa.
                    Cum sociis natoque penatibus et magnis dis parturient
                    montes, nascetur ridiculus mus. Donec quam felis,
                    ultricies nec, pellentesque eu, pretium quis, sem.</p>


                <h2>Aenean commodo ligula eget dolor aenean massa</h2>


                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing
                    elit. Aenean commodo ligula eget dolor. Aenean massa.
                    Cum sociis natoque penatibus et magnis dis parturient
                    montes, nascetur ridiculus mus. Donec quam felis,
                    ultricies nec, pellentesque eu, pretium quis, sem.</p>


                <ul>
                    <li>Lorem ipsum dolor sit amet consectetuer.</li>
                    <li>Aenean commodo ligula eget dolor.</li>
                    <li>Aenean massa cum sociis natoque penatibus.</li>
                </ul>

                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing
                    elit. Aenean commodo ligula eget dolor. Aenean massa.
                    Cum sociis natoque penatibus et magnis dis parturient
                    montes, nascetur ridiculus mus. Donec quam felis,
                    ultricies nec, pellentesque eu, pretium quis, sem.</p>

                <h2>Aenean commodo ligula eget dolor aenean massa</h2>

                <table class="data">
                    <tr>
                        <th>Entry Header 1</th>
                        <th>Entry Header 2</th>
                    </tr>
                    <tr>
                        <td>Entry First Line 1</td>
                        <td>Entry First Line 2</td>
                    </tr>
                    <tr>
                        <td>Entry Line 1</td>
                        <td>Entry Line 2</td>
                    </tr>
                    <tr>
                        <td>Entry Last Line 1</td>
                        <td>Entry Last Line 2</td>
                    </tr>
                </table>
                <blockquote>
                    Lorem ipsum dolor sit amet, consectetuer
                    adipiscing elit. Aenean commodo ligula eget dolor.
                    Aenean massa <strong>strong</strong>. Cum sociis
                    natoque penatibus et magnis dis parturient montes,
                    nascetur ridiculus mus. Donec quam felis, ultricies
                    nec, pellentesque eu, pretium quis, sem. Nulla consequat
                    massa quis enim. Donec pede justo, fringilla vel,
                    aliquet nec, vulputate eget, arcu. In <em>em</em>
                    enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                    justo. Nullam <a class="external ext" href="#">link</a>
                    dictum felis eu pede mollis pretium.
                </blockquote>

                <h3>Cum sociis natoque penatibus et magnis dis   parturient montes nascetur ridiculus mus</h3>

                <table class="data">
                    <tr>
                        <th>Entry Header 1</th>
                        <th>Entry Header 2</th>
                        <th>Entry Header 3</th>
                        <th>Entry Header 4</th>
                    </tr>
                    <tr>
                        <td>Entry First Line 1</td>
                        <td>Entry First Line 2</td>
                        <td>Entry First Line 3</td>
                        <td>Entry First Line 4</td>
                    </tr>
                    <tr>
                        <td>Entry Line 1</td>
                        <td>Entry Line 2</td>
                        <td>Entry Line 3</td>
                        <td>Entry Line 4</td>
                    </tr>
                    <tr>
                        <td>Entry Last Line 1</td>
                        <td>Entry Last Line 2</td>
                        <td>Entry Last Line 3</td>
                        <td>Entry Last Line 4</td>
                    </tr>
                </table>
                <h3>Cum sociis natoque penatibus et magnis dis
                    parturient montes nascetur ridiculus mus</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing
                    elit. Aenean commodo lus mus. Donec quam felis,
                    ultricies nec, pellentesque eu, pretium quis, sem.</p>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing
                    elit. Aenean commodo ligula eget dolor. Aenean massa.
                    Cum sociis natoque penatibus et magnis dis parturient
                    montes, nascetur ridiculus mus. Donec quam felis,
                    ultricies nec, pellentesque eu, pretium quis, sem.</p>
                <p>Lorem ipsum dolor sit sem.</p>
            </div>
        </div>
    </section>
</div>
</body>
<script th:if="false" type="text/javascript" src="../../../static/js/lib/jquery.js" ></script>
<script th:if="false" type="text/javascript" src="../../../static/js/prajuda.js"  ></script>
</html>